{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account inactive</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  </head>

  <style>
    .btn {
        background-color: var(--black-hover-hover);
        transition: all 0.2s ease;
        width: 170px;
        padding: 10px;
        border-radius: 10px;
        font-size: 14pt;
        padding-inline: 15px;
        cursor: pointer;
        display: block;
        margin-inline: auto;
        margin-top: 10px;
        text-align: center;
    }
    .btn:hover {
        background-color: var(--blue);
    }
  </style>

  <body>
    <div class="fc" style="position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);">
        <div style="font-size: 32pt; width: 300px; text-align: center;">Account was deactivated</div>
        <div>
            <div onclick="window.location='/'" class="btn">Take me home</div>
        </div>
    </div>
  </body>
</html> 